<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /projects/fursgo/

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Rewrite all requests to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
