:root{
    --tag-bg-color: #FFC97A;
}

body.change-groomer{
    --tag-bg-color: #FFC97A;
}

body.change-space{
    --tag-bg-color: #FFA899;
}

.top-head.d-flex.align-items-center.justify-content-center {
    padding: 25px 50px;
    border-radius: 10px;
    background: #F8F8F8;
}

.cb-back-btn {
    background: none;
    border: 1px solid #3b3731;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #3b3731;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Card Styling */
.cb-booking-groomer-card {
    background: #f8f8f8;
    border-radius: 15px;
    padding: 50px 65px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.cb-provider-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.cb-img-wrapper {
    position: relative;
}

.avatar-wrap .avatar {
    width: 98px;
    height: 98px;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    object-fit: cover;
    display: block;
}



/* Info Grid */
.cb-info-grid {
    flex-grow: 1;
}

.cb-tag-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 15px; */
}

.cb-category-tag {
    background: var(--tag-bg-color);
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cb-booking-ref {
    color: #3b3731;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cb-details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 15px; */
}

/* .cb-detail-item {
        padding: 0 15px;
        border-right: 1px solid #d4d4d4;
        } */

.cb-detail-item:last-of-type {
    border-right: none;
}

.cb-label {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cb-value {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 0.2rem;
}

.change-groomer-cb-pet-thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.cb-update-section {
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 30px;
    margin-top: 2rem;
}

.cb-update-section h2 {
    margin-bottom: 25px;
    color: #3b3731;
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -0.9rem;
}

.cb-selection-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

/* Left Info Column */
.cb-current-info {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    width: 170px;
    height: 201px;
}

.cb-info-group {
    margin-bottom: 20px;
}

.cb-sub-text {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.cb-selection-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

/* Left Info Column */
.cb-current-info {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    width: 170px;
    height: 201px;
}

.cb-info-group {
    margin-bottom: 20px;
}

.cb-sub-text {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* Calendar Middle Column */
.calendar {
    width: auto;
    background: #fff;
    border-radius: 20px;
}

/* Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 100px;
    background: #f7f7f7;
    padding: 8px;
    width: 380px;
    height: 48px;
}

.calendar-header span {
    color: #3b3731;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    /* 333.333% */
}

.nav-btn {
    background: #fff;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

/* Weekdays */
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    color: #9c9790;
    margin-bottom: 10px;
}

/* Dates */
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

.date {
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #3b3731;
    border-radius: 10px;
    background: #f7f7f7;
}

.date.available {
    background: #e9f3d9;
}

.date.selected {
    border-radius: 10px;
    border: 1px solid #91a36c;
    background: #d8e8b7;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Availability */
.cb-availability-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0 10px;
    color: #bacf8e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
}

/* Time slots */
.times {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time {
    padding: 8px 14px;
    border: 1px solid #c9dda0;
    border-radius: 20px;
    cursor: pointer;
    color: #bacf8e;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}

.time.selected {
    border-radius: 68px;
    border: 1px solid #c9dda0;
    background: #c9dda0;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.book-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-btn {
    margin-top: 20px;
    padding: 10px 75px;
    background: #ffc97a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
}

.last-booked {
    text-align: center;
    color: #9d9b98;
    margin-top: 8px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.note {
    display: flex;
    gap: 18px;
    padding: 2px 20px;
    margin-top: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 55px 0 rgba(0, 0, 0, 0.05);
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

/* Right Time Slots */
.cb-time-slots {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .cb-availability-title {
        color: #9ccc65;
        font-weight: 600;
        margin-bottom: 10px;
        } */

.cb-slot {
    border: 1px solid #dce775;
    background: white;
    padding: 10px;
    border-radius: 25px;
    color: #9ccc65;
    cursor: pointer;
    transition: 0.3s;
}

.cb-slot.active {
    background: #c5e1a5;
    color: white;
    border-color: #c5e1a5;
}

/* Footer Buttons */
.cb-modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    border-top: 1px solid #eae8e5;
    padding-top: 25px;
}

.cb-btn-cancel {
    border: 1px solid #d4d4d4;
    background: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    color: #9d9b98;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cb-btn-save {
    background: #ffc97a;
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cb-summary-section {
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Refund Alert Styling */
.cb-refund-alert {
    background-color: rgba(201, 221, 160, 0.2);
    color: #bcd093;
    padding: 12px 20px;
    border-radius: 10px;
    color: #BCD093;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex: 1;
    margin-right: 40px;
}

/* Price Table Styling */
.cb-price-table {
    min-width: 200px;
}

.cb-price-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cb-price-label {
    color: #9d9b98;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cb-price-value {
    color: #9d9b98;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.cb-price-row .bold {
    color: #3b3731;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Action Buttons */
.cb-action-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.cb-btn-outline {
    background: #ffffff;
    border: 1px solid #333;
    padding: 12px 40px;
    border-radius: 30px;
    cursor: pointer;
    color: #3b3731;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cb-btn-filled {
    background: #ffc97a;
    border: none;
    padding: 12px 50px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    width: 248px;
    height: 48px;
}

.cb-extras-addons {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 30px;
}

/* =======addons-services-section======== */

.addons-section {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.addons-section h2 {
    color: #3b3731;
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Add-ons Cards Grid */
.addons-grid {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.addon-card {
    flex: 1;
    background: #fdfdfd;
    border-radius: 12px;
    padding: 20px 15px;
    position: relative;
    cursor: pointer;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);  */
    transition: transform 0.2s ease;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

/* 
.addon-card.selected {
  background-color: #fafff7;
 
} */

.addon-card:last-child {
    background-color: #f7f7f7;
}

.addon-name {
    color: #3b3731;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.addon-price {
    color: #3b3731;
    text-align: right;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 4px;
    text-underline-position: from-font;
}

.unit {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    display: inline-block;
}

/* Tick Icon */
.check-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #fff;
    color: #c5e1a5;
    font-size: 18px;
    border-radius: 50%;
}

/* Section Footer Buttons */
.addon-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid #f0f0f0;
}

.btn-cancel-sm {
    border: 1px solid #e0e0e0;
    background: white;
    padding: 10px 35px;
    border-radius: 25px;
    color: #999;
    font-size: 15px;
}

.btn-save-sm {
    background: #ffcc80;
    border: none;
    padding: 10px 45px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(255, 204, 128, 0.3);
}

/* Bottom Charge Summary */
.charge-summary {
    border-radius: 12px;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.charge-alert {
    width: 350px;
    height: 48px;
    background-color: rgba(255, 110, 110, 0.1);
    padding: 12px 20px;
    border-radius: 10px;
    color: #ff6e6e;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price-row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 5px;
}

.price-row span:first-child {
    color: #9d9b98;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price-row .underline {
    color: #9d9b98;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.price-row.bold {
    font-weight: 700;
    color: #333;
}

.price-row.bold .underline {
    color: #333;
}

.vertical-line {
    border-left: 1px solid #d4d4d4;
    height: 54px;
}

.details-item.images-div {
    position: relative;
}

img.rounded-image.second-image {
    position: absolute;
    left: 30px;
}