@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf")
        format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf")
        format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf")
        format("truetype");
    font-style: italic;
    font-weight: 900;
}

/* Normal weight */
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    /* exact normal */
}

/* Medium weight */
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

/* Bold weight */
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

:root {
    --groomer-color: #fbac83;
    --space-color: #ffa899;
    --font-color: #3b3731;
    --border-color: #e5e5e5;
    --active-bg: #ffc97a;
    --text-dark: #333;
    --text-muted: #d4d4d4;
    --bg: #d4d4d4;
    --panel: #ffffff;
    --muted: #bfc1c3;
    --accent: #ffb86b;
    --border: #e7e7e7;
    --radius: 12px;
    --font:
        "Playfair Display", "Lato", system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
}

.large-font {
    color: #3b3731;
    font-family: "Playfair Display";
    font-size: 28px;
    font-weight: 600;
    line-height: 60px;
}

.large-font-bold {
    color: #3b3731;
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
}

.medium-font {
    color: #3b3731;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
}

.medium-font-m-bold {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
}

.normal-font-weight {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.normal-font-weight.active {
    color: #ffc97a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
}

.normal-font-weight-active-color {
    color: #ffc97a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
}

.muted-color {
    color: #9d9b98 !important;
}

.font-color {
    color: var(--font-color) !important;
}

.line-default {
    line-height: normal !important;
}

.normal-font-bold {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.medium-font-bold {
    color: #3b3731;
    font-family: Lato;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.medium-light-font {
    color: #3b3731;
    font-family: Lato;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.medium-muted-font {
    color: #9c9790;
    font-family: Lato;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.normal-light-color-font {
    color: #9d9b98;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
}

.normal-default-color-font {
    color: var(--font-color);
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
}

.normal-light-color {
    color: #9d9b98;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.light-color-font {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}

.light-bold-color-font {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
}

.dark-color-font {
    color: var(--font-color);
    font-family: Lato;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.tags.active .dark-color-font {
    color: #ffc97a;
}

.small-bolder-color-font {
    color: var(--font-color);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
}

.simple-light-font {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.simple-font {
    color: var(--font-color);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ===== 28px ===== */

.fs-28-600 {
    color: #3b3731;
    font-family: "Playfair Display";
    font-size: 28px;
    font-weight: 600;
    line-height: 60px;
}

.fs-28-900-italic {
    color: #3b3731;
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
}

/* ===== 20px ===== */

.fs-20-600 {
    color: #3b3731;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
}

.fs-20-500-black {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
}

/* ===== 18px ===== */

.fs-18-600 {
    color: #3b3731;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
}

.fs-18-400 {
    color: #3b3731;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.fs-18-400-light {
    color: #9d9b98;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

/* ===== 16px ===== */

.fs-16-600 {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
}

.fs-16-600-gold {
    color: #ffc97a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
}

.fs-16-500-light {
    color: #9d9b98;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
}

.fs-16-500-f-color {
    color: var(--font-color);
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
}

.fs-16-400 {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.fs-16-400-light {
    color: #9d9b98;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

/* ===== 14px ===== */

.fs-14-700-f-color {
    color: var(--font-color);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
}

.fs-14-600-light {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
}

.fs-14-600-f-color {
    color: var(--font-color);
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
}

.fs-14-500-light {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}

.fs-14-400-light {
    color: #9d9b98;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.fs-14-400-f-color {
    color: var(--font-color);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

/* ===== Utility Classes ===== */

.text-light {
    color: #9d9b98 !important;
}

.text-gold {
    color: #ffc97a !important;
}

.text-black {
    color: #000 !important;
}

.text-default {
    color: #3b3731 !important;
}

.text-f-color {
    color: var(--font-color) !important;
}

/* ===== Special Case ===== */

.tags.active .fs-14-600-f-color {
    color: #ffc97a;
}

/* font-sizes  */

.section {
    padding: 70px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 49px 20px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    color: var(--font-color);
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    /* normal */
    font-style: normal;
}

nav ul li a:hover {
    color: var(--groomer-color);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

nav ul a.active {
    color: var(--groomer-color);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 4px;
    text-underline-position: from-font;
}

.login-signup-div {
    display: flex;
    gap: 20px;
}

.login-btn,
.signup-btn {
    padding: 10px 35px 10px 35px;
    color: var(--font-color);
    background: none;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    font-family: "Lato";
    font-size: 16px;
    font-style: normal;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.login-btn:hover {
    color: var(--font-color);
}

.signup-btn.active {
    background-color: var(--groomer-color);
    color: white;
    border: none;
    text-decoration: none;
}

.notification-tags {
    padding: 15px 15px 15px 15px;
    gap: 4px;
}

.notification-content-tab,
.messages-content-tab,
.user-content-tab {
    position: relative;
}

/* messages card notification */
.chat-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

.chat-card.unread {
    background: #f8f8f8;
}

.chat-card.locked {
    opacity: 0.4;
}

.chat-info {
    width: 100%;
}

.profile-image-wrapper {
    position: relative;
}

.top-left-svg {
    position: absolute;
    top: 0;
}

.rounded-image {
    border-radius: 50px;
    width: 56px;
    height: 56px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.rounded-image.large-size {
    width: 67px;
    height: 67px;
}

p.messages-count {
    width: 22px;
    height: 22px;
    background: #ffc97a;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #fff;
}

/* messages card notification */

.header-notifications,
.messages-notifications {
    position: absolute;
    width: 545px;
    height: auto;
    border-radius: 10px 0 10px 10px;
    border: 1px solid #e2e2e2;
    background: #fff;
    right: 0;
    top: 45px;
    z-index: 1001;
    display: none;
}

.messages-notifications {
    width: 500px;
}

/* user profile options  */
.user-profile-options {
    min-width: 300px;
    position: absolute;
    height: auto;
    border-radius: 10px 0 10px 10px;
    border: 1px solid #e2e2e2;
    background: #fff;
    right: -5px;
    top: 45px;
    z-index: 1001;
    display: none;
}

.user-profile-image {
    border-bottom: 1px solid #e2e2e2;
    padding: 25px;
}

.profile-menu a {
    padding: 15px 25px 15px 25px;
}

.logout-option {
border-top: 1px solid #e2e2e2;
padding: 0 25px 15px 25px;
cursor: pointer !important;
}
.logout-option>form>button {
border: none;
background: transparent;
cursor: pointer !important;

}

.profile-item:hover {
    background: rgba(255, 201, 122, 0.25);
}

/* user profile options  */

.header-notifications-header {
    border-bottom: 1px solid #e2e2e2;
    padding: 25px;
}

.header-notifications-div,
.messages-notifications-div {
    padding: 0px 15px 0px 15px;
    border-top: 1px solid #e2e2e2;
}

.header-notifications-list {
    border-radius: 10px;
    padding-right: 25px;
}

.header-notifications-list.booking-confirmed {
    border: 1px solid #d8e8b7;
    background: rgba(216, 232, 183, 0.2);
}

.header-notifications-list.booking-reminder {
    border: 1px solid #ffc97a;
    background: rgba(255, 201, 122, 0.2);
}

.header-notifications-list.booking-updated {
    border: 1px solid #d8e8b7;
    background: rgba(216, 232, 183, 0.2);
}

.header-notifications-list.payment-failed {
    border: 1px solid #ffa899;
    background: rgba(255, 168, 153, 0.2);
}

.view-all-mark-read {
    border-top: 1px solid #e2e2e2;
    padding: 25px;
}

.notification-tags .tags.active {
    background: rgba(255, 201, 122, 0.2);
    color: #ffc97a;
}

.notification-tags .tags {
    border-radius: 96px;
    background: #f8f8f8;
    color: #ffc97a;
    padding: 5px 8px;
    text-align: center;
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notification-tags span.count.active {
    background: #ffc97a;
    color: #fff;
}

.notification-tags span.count {
    padding: 10px;
    background: #d4d4d4;
    color: #fff;
    width: 26px;
    height: 26px;
    aspect-ratio: 1 / 1;
    border-radius: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.link-tag {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

/* Hamburger icon */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: var(--groomer-color);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form-field .input-wrapper {
    position: relative;
    width: 100%;
}

.form-field label {
    display: block;
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.form-field input {
    width: 100%;
    padding: 14px 44px 14px 14px;
    border-radius: 10px;
    border: 1px solid var(--border);
    outline: none;
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-box input {
    width: 100%;
    padding: 14px 44px 14px 14px;
    border-radius: 10px;
    border: 1px solid var(--border);
    outline: none;
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    display: none;
}

.icon.success {
    display: block;
}

.input-wrapper textarea {
    width: 100%;
    max-width: auto;
    resize: vertical;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid var(--border);
    outline: none;
    min-height: 96px;
    resize: none;
    color: var(--font-color);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea::placeholder,
input::placeholder {
    color: #d4d4d4;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-active-bg {
    background: #ffc97a;
}

.btn-custom {
    padding: 14px 35px;
    border-radius: 96px;
    font-family: Lato;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.btn-shadow {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

/* Variants */
.btn-active-bg {
    background: #ffc97a;
}

.btn-groomer-bg {
    background: var(--groomer-color);
}

.btn-space-bg {
    background: var(--space-color);
}

.btn-no-bg {
    border: 1px solid var(--font-color);
    background: none;
    color: var(--font-color);
}

.btn-custom-hover:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(251, 198, 88, 0.3);
}

.cursor {
    cursor: pointer;
}

/* modal css */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(59, 55, 49, 0.1);
    justify-content: center;
    align-items: center;
    z-index: 1001;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    width: 820px;
    height: auto;
    position: relative;
    /* top: 6%; */
}

.modal-footer {
    text-align: right;
    margin-top: 15px;
}

/* .modal-footer-btn {
    padding: 8px 16px;
    border: none;
    background: #ffb26b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
} */

/* modal css  */

.join-heading {
    color: var(--font-color);
    font-family: "Playfair Display";
    font-size: clamp(30px, 5vw, 56px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: clamp(300px, 60vw, 611px);
}

.join-buttons {
    display: flex;
    gap: 25px;
    justify-content: end;
}

.join-buttons .become-host-btn,
.become-groomer-btn {
    padding: 12px 32px 12px 32px;
    text-align: center;
    font-family: "Lato";
    font-size: clamp(14px, 1.2vw, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 25px;
    cursor: pointer;
}

.join-buttons .become-host-btn {
    border: 1px solid var(--font-color);
    background: none;
}

.join-buttons .become-groomer-btn {
    border: none;
    background-color: var(--groomer-color);
    color: white;
}

.footer-description p {
    color: var(--font-color);
    font-family: "Lato";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-list {
    color: var(--font-color);
    font-family: "Lato";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-icons {
    gap: 25px;
}

.help-center {
    gap: 52px;
}

.about-us {
    gap: 70px;
}

.app-coming-soon {
    color: #3b3731;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.terms-and-conditions-text.mt-xs-5 {
    color: var(--font-color);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

/* avatar badge */
.avatar-wrap {
    position: relative;
    flex: 0 0 auto;
}

.avatar-wrap .avatar {
    width: 83px;
    height: 83px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    object-fit: cover;
    display: block;
}

.badge-shield {
    position: absolute;
    left: -3px;
    top: 3px;
    background: var(--white);
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
